/* For the responsive style
 * author by gapra
 * mobile support
 */

@media (min-width:980px) and (max-width:1200px){
	.btn-circle {
		width:180px;
		height:180px;
		border:16px solid #ffffff;
		margin-right:130px;
		margin-left:30px;
	}
		.btn-inner-circle {
			width:140px;
			height:140px;
			margin-top:10px;
		}
			.last {
				margin-right:0px;
				margin-left:0px;
				float:left;
			}
}
